/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw; /* Aumenta el ancho en pantallas pequeñas */
    }

    .btnCl1, .btnCl2, .btnCl3, .btnCl4, .btnCl5, .btnCl6, .btnCl7, .btnCl8, .btnCl9, .btnCl10,
    .btnCl11, .btnCl12, .btnCl13, .btnCl14, .btnCl15, .btnCl16, .btnCl17, .btnCl18, .btnCl19, .btnCl20,
    .btnCl21, .btnCl22, .btnCl23, .btnCl24, .btnCl25, .btnCl26, .btnCl27, .btnCl28, .btnCl29, .btnCl30,
    .btnCl31, .btnCl32, .btnCl33, .btnCl34, .btnCl35, .btnCl36, .btnCl37, .btnCl38, .btnCl39, .btnCl40,
    .btnCl41, .btnCl42, .btnCl43, .btnCl44, .btnCl45 {
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnCl1, .btnCl2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}



.btnCl1 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(-830%, 60%);
    background-color: saddlebrown;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnCl2 {
    position: absolute;
    height: 2.8vw;
    width: 2.8vw;
    top: 30%;
    left: 45%;
    transform: translate(-435%, 225%);
    background-color: saddlebrown;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnCl3 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(-270%, 100%);
    background-color: saddlebrown;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnCl4 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(-165%, 100%);
    background-color: rgb(224, 228, 31);
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.text-boxCtl {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 35vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(78, 143, 155, 0.842);
    color: #242424;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    border: 1px solid #ddd;
}


