/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw; /* Aumenta el ancho en pantallas pequeñas */
    }

    .btnPp1, .btnPp2, .btnPp3, .btnPp4, .btnPp5, .btnPp6, .btnPp7, .btnPp8, .btnPp9, .btnPp10,
    .btnPp11, .btnPp12, .btnPp13, .btnPp14, .btnPp15, .btnPp16, .btnPp17, .btnPp18, .btnPp19, .btnPp20,
    .btnPp21, .btnPp22, .btnPp23, .btnPp24, .btnPp25, .btnPp26, .btnPp27, .btnPp28, .btnPp29, .btnPp30,
    .btnPp31, .btnPp32, .btnPp33, .btnPp34, .btnPp35, .btnPp36, .btnPp37, .btnPp38, .btnPp39, .btnPp40,
    .btnPp41, .btnPp42, .btnPp43, .btnPp44, .btnPp45 {
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnPp1, .btnPp2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}


.btnPp1 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(170%, 760%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPp2 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(220%, 670%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPp3 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(140%, 45%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPp4 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(70%, -565%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}



/* .btnPp5 {
    position: absolute;
    height: 2.3vw;
    width: 2.3vw;
    top: 30%;
    left: 45%;
    transform: translate(-125%, 590%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPp6 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(280%, 320%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPp7 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(325%, 225%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPp8 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(410%, 25%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPp9 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(440%, -75%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPp10 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(470%, -175%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPp11 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(500%, -275%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPp12 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(530%, -375%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
} */


.text-boxPp {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.842);
    color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border: 1px solid #ddd;
    white-space: pre-line; /* Asegura que los saltos de línea se respeten */
}


