/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw; /* Aumenta el ancho en pantallas pequeñas */
    }

    .btnSf1, .btnSf2, .btnSf3, .btnSf4, .btnSf5, .btnSf6, .btnSf7, .btnSf8, .btnSf9, .btnSf10,
    .btnSf11, .btnSf12, .btnSf13, .btnSf14, .btnSf15, .btnSf16, .btnSf17, .btnSf18, .btnSf19, .btnSf20,
    .btnSf21, .btnSf22, .btnSf23, .btnSf24, .btnSf25, .btnSf26, .btnSf27, .btnSf28, .btnSf29, .btnSf30,
    .btnSf31, .btnSf32, .btnSf33, .btnSf34, .btnSf35, .btnSf36, .btnSf37, .btnSf38, .btnSf39, .btnSf40,
    .btnSf41, .btnSf42, .btnSf43, .btnSf44, .btnSf45 {
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnSf1, .btnSf2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}


.btnSf1 {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 30%;
    left: 45%;
    transform: translate(-270%, 340%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnSf2 {
    position: absolute;
    height: 2.6vw;
    width: 2.6vw;
    top: 30%;
    left: 45%;
    transform: translate(-5%, 235%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnSf3 {
    position: absolute;
    height: 2.6vw;
    width: 2.6vw;
    top: 30%;
    left: 45%;
    transform: translate(80%, 170%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnSf4 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(575%, -375%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnSf5 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(-780%, 125%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnSf6 {
    position: absolute;
    height: 2.8vw;
    width: 2.8vw;
    top: 30%;
    left: 45%;
    transform: translate(-160%, -60%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnSf7 {
    position: absolute;
    height: 2.3vw;
    width: 2.3vw;
    top: 30%;
    left: 45%;
    transform: translate(-165%, 95%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnSf8 {
    position: absolute;
    height: 2.3vw;
    width: 2.3vw;
    top: 30%;
    left: 45%;
    transform: translate(-45%, 105%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.text-boxSf {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.842);
    color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border: 1px solid #ddd;
    white-space: pre-line; /* Asegura que los saltos de línea se respeten */
}


