.round-button {
    background-color: #1C1C1C;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 50%; /* Hace que el botón sea redondo */
    transition: all 0.3s ease;
    cursor: pointer;
    width: 50px; /* Ajusta el ancho */
    height: 50px; /* Ajusta la altura */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #c44900; /* Opcional: agrega un borde */
}

.round-button:hover {
background-color: #c44900;
color: white;
}