/* Seccion de Datos de perfil y Titulo de reporte*/
.head{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap : 10vh;
  padding-top: 2vh;
}

.head h1{
  font-size: 25px;
}

/* Titulo del reporte */
.report-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
  color: rgb(255, 255, 255);
  font-family: "Quando";
  font-size: 25px;
  height: 100%;
  width: 90vh;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 15px;
}

/* Informacion acerca del usuario */
.box-container {
  display: flex;
  background-color: #1c1c1c;
  border: 2px solid ;
  border-radius: 8px;
  overflow: hidden;
  width: 50vh;
}

.box {
  padding: 5px;
  padding-left: 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.data {
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
  color : white;
}

/* Botones e Imagen */
.wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  align-items:flex-start;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  gap: 20px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  height: 117.2vh;
  width: 40vh;
  background-color:#1C1C1C;
  background-image: url('/assets/04_01_ Vector _ SVG/G_14.svg'); /* Ruta relativa a la carpeta public */
  background-size: cover;  /*Ajustar tamaño de la imagen al contenedor */
  /*background-repeat: repeat;*/
  background-position: center; /* Centrar la imagen */
  border-radius: 10px;
}

.image-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.overlay-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-box{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  background-color: #1C1C1C;
  padding: 10px;
  border-radius: 10px;
}

.selected-words-box {
  background-color: #eee;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%; 
  height: 100%; 
  font-size: 14px;
}

.selected-words-box h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.selected-words-box ul {
  list-style-type: none;
  padding: 0;
}

.selected-words-box li {
  font-size: 16px;
  margin-bottom: 5px;
}

.con-img{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.info-container {
  display: flex;
  background-color: white;
  align-items: left;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;  
  margin: 10px;
  height: 20vh;
  

  z-index: 1; 
}

.info-container textarea {
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: justify;
  background-color: transparent;
  resize: none;
  padding: 5px;
}

.print-button {
  background-color: #1C1C1C;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: left;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.print-button:hover {
  background-color: #c44900;
  color: white;
}

.print-button.active {
  background-color: #c44900;
  color: white;
}

.button-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1vh;
}

.button-bar button, .button-bar input[type="file"], .button-bar label {
  border-radius: 50%;
  width: 55px; 
  height: 55px; 
  text-align: center;
  margin : 10px;
  border: 2px solid #c44900; 

}

.vertical-orinetation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;  
}

.conclusion-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #1C1C1C;
  margin: 10px;
}

.dont-print {
  display: visible;
}

.handle {
  width: 10px;
  height: 10px;
  background: #f0f0f0;
  border: 1px solid #999;
  position: absolute;
}

.handle-n {
  cursor: n-resize;
  top: -5px;
  left: 50%;
  margin-left: -5px;
}

.handle-e {
  cursor: e-resize;
  top: 50%;
  right: -5px;
  margin-top: -5px;
}

.handle-s {
  cursor: s-resize;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
}

.handle-w {
  cursor: w-resize;
  top: 50%;
  left: -5px;
  margin-top: -5px;
}

.handle-ne {
  cursor: ne-resize;
  top: -5px;
  right: -5px;
}

.handle-se {
  cursor: se-resize;
  bottom: -5px;
  right: -5px;
}

.handle-sw {
  cursor: sw-resize;
  bottom: -5px;
  left: -5px;
}

.handle-nw {
  cursor: nw-resize;
  top: -5px;
  left: -5px;
}

.containerImg {
  position: relative; /* Permite que Draggable funcione correctamente */
  width: 100%; /* O cualquier tamaño que necesites */
  height: 100%; /* O cualquier tamaño que necesites */
}

.dropArea {
  /*position: absolute; /* Cambiado a absolute para posicionamiento */
  bottom: 950px;
  left: 20px;
  width: 600px;
  height: 780px;
  /*position: relative;*/
  overflow: hidden;
  background-color: transparent;
}


.cuadro {
  width: 50px;
  height: 50px;
  transition: width 0.3s ease, height 0.3s ease;
  background-color: transparent;
  margin: 10px;
  margin-left: -5px;
  margin-top: 10px;
  display: flex;
}

/* Cuando el elemento está siendo arrastrado (tamaño original) */
.cuadro-expanded {
  width: 240px;
  height: 120px;
  
}

.cuadro2 {
  width: 40px;
  height: 40px;
  background-color: white;
  transition: width 0.3s ease, height 0.3s ease;
  border: 1px solid black; /* Borde opcional */
  position: absolute;
  margin-top:  5px;
  margin-bottom: 15px;
  margin-left: 40px;
}

.cuadro2-expanded {
  width: 98px;
  height: 92px;
  margin-top:  15px;
  margin-bottom: 15px;
  margin-left: 135px;
}

.lineaImg{
  width: 100%; /* Ajusta el ancho para que sea responsivo */
  height: auto; /* Mantiene la proporción de la imagen */
  transition: transform 0.3s ease; /* Añade una transición suave para efectos */
  position: static;
  background-color: transparent;
  pointer-events: none;
  /* border: solid 1px black; */
  /* height: 95px;
  width: 140px; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.lineaImg {
  margin-top: 10px;
  margin-bottom: 10px;
  transform: scale(1.1); /* Escala la imagen un poco al expandir */
}

.dropArea2{
  width: 96px;
  height: 90px;
  background-attachment: transparent;
  
}

.lineaDv{
  background-color: black;
  border: solid 0.5px black;
  width:120px;
  height: 1px;
}

.btnInsert{
  height: 50px;
  width: 90px;
  margin-left: 70px;
  margin-top: 50px;
  background-color: rgba(48, 80, 121, 0.39);
  color: white;
  position: center;
  border-radius: 5%;
}

.dropArea img {
  object-fit: contain; /* Ajusta la imagen para que se ajuste dentro del área de drop sin distorsionarse */
}

/* .DivPanel{
  background-color: rgba(255, 255, 255, 0.253);
  width: 240px;
  height: 400px;
  margin-right: 10px;
  margin-left: -5px;
  border-radius: 5%;
} */

.DivPanel2{
  background-color: rgba(255, 255, 255, 0.253);
  width: 90px;
  flex-grow: 1;
  flex-basis: 200;
  margin: 2px;
}

.DivPanel2-expanded{
  width: 230px;
  
}

.DivPanel3{
  background-color: rgba(255, 255, 255, 0.253);
  width: 90px;
  flex-grow: 1;
  flex-basis: 200;
  margin: 2px;
}

.DivPanel3-expanded{
  width: 230px;
  
}

.DivPanel4{
  background-color: rgba(255, 255, 255, 0.253);
  width: 90px;
  flex-grow: 1;
  flex-basis: 200;
  margin: 2px;
}

.DivPanel4-expanded{
  width: 230px;
  
}

.container-grid{
  display: flex;
  flex-wrap: wrap;
}

.cuadroIMG {
  width: 50px;
  height: 50px;
  transition: width 0.3s ease, height 0.3s ease;
  background-color: transparent;
  position: relative;
  margin-left: 30px;
}

/* Cuando el elemento está siendo arrastrado (tamaño original) */
.cuadroIMG-expanded {
  width: 100px;
  height: 60px;
  
}


/*#####################################################################################*/

/* Detalles referentes a la impresion */
@media print {


  .dropArea2 {
    background-image: inherit !important;
  }
  .dropArea {
    bottom: 1072px;
    left: 20px;
    width: 600px;
    height: 805px;
    margin-left: 90px;
  }

  .print {
    display: none;
  }

  .dont-print {
    display: none;
  }

  .image-container {
    position: relative;
    width: 750px;
    height: 100%;
    margin-left: 90px;
  }

  .handle {
    position: relative;
  }
  
  .box-container {
    position: absolute;
    top: 0;
    width: 40vh;
    background: coral;
    background-color: white;
    border: 2px solid white;
    z-index: 1;
  }

  .info-container textarea {
    position: button;
    width: 760px;
    height: 100%;
    font-size: 14px;;
    background-color: lightgreen; 
    resize: none; 
    top: 4vh;
    border: solid 1px black;
    margin-left: 40px;
    


    /* Para ajustar el texto */
    word-wrap: break-word;  /* Rompe las palabras largas */
    word-break: break-all;   /* Rompe las palabras si es necesario */
    overflow-wrap: break-word; /* Ajuste de palabras al borde del contenedor */

    /* Para asegurar que el padding esté controlado */
    padding: 10px;

    /* Controla la altura de la línea del texto */
    line-height: 1.5;

    /* Controla los bordes */
    border: 1px solid #ccc;
    box-sizing: border-box; /* Incluye el padding y borde en el tamaño total */
  }

  .head{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap : 10vh;
  }
  
  .rnd-image {
    left: -725px !important;
    top: -205px !important; 
  }



}
