/* Seccion de Datos de perfil y Titulo de reporte*/
.head {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  padding-top: 2vh;
}

.head h1 {
  font-size: 25px;
}

/* Titulo del reporte */
.report-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
  color: rgb(255, 255, 255);
  font-family: "Quando";
  font-size: 25px;
  height: 100%;
  width: 90vh;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 15px;
}

/* Informacion acerca del usuario */
.box-container {
  display: flex;
  background-color: #1c1c1c;
  border: 2px solid;
  border-radius: 8px;
  overflow: hidden;
  width: 50vh;
}

.box {
  padding: 5px;
  padding-left: 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.data {
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
  color: white;
}

/* Botones e Imagen */
.wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  gap: 20px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  height: 117.2vh;
  width: 40vh;
  background-color:#1C1C1C;
  background-image: url('/assets/04_01_ Vector _ SVG/G_14.svg'); /* Ruta relativa a la carpeta public */
  background-size: cover;  /*Ajustar tamaño de la imagen al contenedor */
  /*background-repeat: repeat;*/
  background-position: center; /* Centrar la imagen */
  border-radius: 10px;
}

.image-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.overlay-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.info-box{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  background-color: #1C1C1C;
  padding: 10px;
  border-radius: 10px;
}

.selected-words-box {
  background-color: #eee;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%; 
  height: 100%; 
  font-size: 14px;
}

.selected-words-box h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.selected-words-box ul {
  list-style-type: none;
  padding: 0;
}

.selected-words-box li {
  font-size: 16px;
  margin-bottom: 5px;
}

.con-img{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.info-container {
  display: flex;
  background-color: white;
  align-items: left;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;  
  margin: 10px;
  height: 20vh;
  

  z-index: 1; 
}

.info-container textarea {
  width: 100%;
  height: 100%;
  font-size: 14px;
  /* text-align: justify; */
  background-color: transparent;
  resize: none;
  padding: 5px;
}

.print-button {
  background-color: #1C1C1C;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: left;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.print-button:hover {
  background-color: #c44900;
  color: white;
}

.print-button.active {
  background-color: #c44900;
  color: white;
}

.button-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1vh;
}

.button-bar button, .button-bar input[type="file"], .button-bar label {
  border-radius: 50%;
  width: 55px; 
  height: 55px; 
  text-align: center;
  margin : 10px;
  border: 2px solid #c44900; 

}

.vertical-orinetation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;  
}

.conclusion-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #1C1C1C;
  margin: 10px;
}

.dont-print {
  display: visible;
}

.handle {
  width: 10px;
  height: 10px;
  background: #f0f0f0;
  border: 1px solid #999;
  position: absolute;
}

.handle-n {
  cursor: n-resize;
  top: -5px;
  left: 50%;
  margin-left: -5px;
}

.handle-e {
  cursor: e-resize;
  top: 50%;
  right: -5px;
  margin-top: -5px;
}

.handle-s {
  cursor: s-resize;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
}

.handle-w {
  cursor: w-resize;
  top: 50%;
  left: -5px;
  margin-top: -5px;
}

.handle-ne {
  cursor: ne-resize;
  top: -5px;
  right: -5px;
}

.handle-se {
  cursor: se-resize;
  bottom: -5px;
  right: -5px;
}

.handle-sw {
  cursor: sw-resize;
  bottom: -5px;
  left: -5px;
}

.handle-nw {
  cursor: nw-resize;
  top: -5px;
  left: -5px;
}

.containerImg {
  position: relative; /* Permite que Draggable funcione correctamente */
  width: 100%; /* O cualquier tamaño que necesites */
  height: 100%; /* O cualquier tamaño que necesites */
}

.dropArea {
  /*position: absolute; /* Cambiado a absolute para posicionamiento */
  bottom: 950px;
  left: 20px;
  width: 600px;
  height: 780px;
  /*position: relative;*/
  overflow: hidden;
  background-color: transparent;
}


.cuadro {
  width: 50px;
  height: 50px;
  transition: width 0.3s ease, height 0.3s ease;
  background-color: transparent;
  margin: 10px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
}

/* Cuando el elemento está siendo arrastrado (tamaño original) */
.cuadro-expanded {
  width: 240px;
  height: 120px;
  margin-left: -10px;
}

.cuadro2 {
  width: 40px;
  height: 40px;
  background-color: white;
  transition: width 0.3s ease, height 0.3s ease;
  border: 1px solid black; /* Borde opcional */
  position: absolute;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 40px;
}

.cuadro2-expanded {
  width: 98px;
  height: 92px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 135px;
}


.cuadro3 {
  width: 40px;
  height: 40px;
  background-color: white;
  transition: width 0.3s ease, height 0.3s ease;
  border: 1px solid black; /* Borde opcional */
  position: absolute;
  margin-top:  5px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.cuadro3-expanded {
  width: 98px;
  height: 92px;
  margin-top:  15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

/*Circulos donde se insertan las imagenes*/
.circulo {
  width: 50px;
  height: 50px;
  transition: width 0.3s ease, height 0.3s ease;
  background-color: transparent;
  margin: 10px;
  margin-left: -5px;
  margin-top: 10px;
  display: flex;
}

/* Cuando el elemento está siendo arrastrado (tamaño original) */
.circulo-expanded {
  width: 240px;
  height: 120px;
  
}

.circulo2 {
  width: 40px;
  height: 40px;
  background-color: white;
  transition: width 0.3s ease, height 0.3s ease;
  border: 1px solid black; /* Borde opcional */
  position: absolute;
  margin-top:  5px;
  margin-bottom: 15px;
  margin-left: 40px;
  border-radius: 100%;
}

.circulo2-expanded {
  width: 98px;
  height: 92px;
  margin-top:  15px;
  margin-bottom: 15px;
  margin-left: 135px;
}

.circulo2 > .dropArea2{
  border-radius: 100%;
}


.circulo3 {
  width: 40px;
  height: 40px;
  background-color: white;
  transition: width 0.3s ease, height 0.3s ease;
  border: 1px solid black; /* Borde opcional */
  position: absolute;
  margin-top:  5px;
  margin-bottom: 15px;
  margin-left: 10px;
  border-radius: 100%;
}

.circulo3-expanded {
  width: 98px;
  height: 92px;
  margin-top:  15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.circulo3 > .dropArea2{
  border-radius: 100%;
}


.lineaImg{
  width: 130px; /* Ajusta el ancho para que sea responsivo */
  height: 40px; /* Mantiene la proporción de la imagen */
  transition: transform 0.3s ease; /* Añade una transición suave para efectos */
  position: static;
  background-color: transparent;
  pointer-events: none;
  margin-top: 5px;
  
}

.lineaImg-expanded {
  width: 130px;
  height: auto;
  position: static;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 55px;
  transform: scale(1.1); /* Escala la imagen un poco al expandir */
}

.lineaImg2{
  width: 130px; /* Ajusta el ancho para que sea responsivo */
  height: 40px; /* Mantiene la proporción de la imagen */
  transition: transform 0.3s ease; /* Añade una transición suave para efectos */
  position: static;
  background-color: transparent;
  pointer-events: none;
  margin-top: 5px;
  margin-left: 35px;
  
}

.lineaImg2-expanded {
  width: 130px;
  height: auto;
  position: static;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
  transform: scale(1.1); /* Escala la imagen un poco al expandir */
}


.cruzImg{
  width: 90px; /* Ajusta el ancho para que sea responsivo */
  height: 25px; /* Mantiene la proporción de la imagen */
  position: static;
  background-color: transparent;
  pointer-events: none;
  align-items: center;
}

.PuntoRojo{
  width: 45px; /* Ajusta el ancho para que sea responsivo */
  height: 45px; /* Mantiene la proporción de la imagen */
  position: relative;
  background-color: transparent;
  pointer-events: none;
  margin: auto;
  padding-bottom: 10px;

}

.lineaImg4{
  width: 84px;
  height: 84px;
}

.dropArea2 {
  width: 40px; /* Tamaño inicial */
  height: 40px;
  background-color: transparent;
  transition: width 0.3s ease, height 0.3s ease; /* Transición suave */
}

.dropArea2-expanded {
  width: 88px; /* Mismo tamaño que cuadro2-expanded */
  height: 92px;
  transition: width 0.3s ease, height 0.3s ease;
}

.lineaDv{
  background-color: black;
  border: solid 0.5px black;
  width:120px;
  height: 1px;
}

.btnInsert{
  height: 50px;
  width: 90px;
  margin-left: 70px;
  margin-top: 10px;
  background-color: rgba(48, 80, 121, 0.39);
  color: white;
  position: center;
  border-radius: 5%;
}

.dropArea img {
  object-fit: contain; /* Ajusta la imagen para que se ajuste dentro del área de drop sin distorsionarse */
}

/* .DivPanel{
  background-color: rgba(255, 255, 255, 0.253);
  width: 240px;
  height: 400px;
  margin-right: 10px;
  margin-left: -5px;
  border-radius: 5%;
} */

.DivPanel2 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: rgba(255, 255, 255, 0.253);
  width: 90px;
  flex-grow: 1;
  margin: 2px;
  border-radius: 5px;
  transition: width 0.3s ease, z-index 0.3s ease; /* Transición suave también para z-index */
  position: relative;

}

.DivPanel2-expanded {
  width: 230px;
  z-index: 10; /* Asegura que el div expandido esté en la parte superior */
  position: relative;
  background-color: rgba(250, 250, 250, 0.678);
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}


.DivPanel3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.253);
  width: 90px;
  flex-grow: 1;
  margin: 2px;
  border-radius: 5px;
  transition: width 0.3s ease, z-index 0.3s ease; /* Transición suave también para z-index */
  position: relative;

}

.DivPanel3-expanded {
  width: 95px;
  z-index: 10; /* Asegura que el div expandido esté en la parte superior */
  position: relative;
  background-color: rgba(250, 250, 250, 0.678);
}

.DivPanel4{
  background-color: rgba(255, 255, 255, 0.253);
  width: 90px;
  flex-grow: 1;
  flex-basis: 200;
  margin: 2px;
  border-radius: 5px;
}

.DivPanel4-expanded{
  width: 230px;
  
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Asegura espacio entre columnas */
}

.container-grid > * {
  flex-basis: 48%; /* Cada elemento hijo ocupará aproximadamente la mitad del contenedor */
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho total */
}

.cuadroIMG {
  width: 50px;
  height: 50px;
  transition: width 0.3s ease, height 0.3s ease;
  background-color: transparent;
  position: relative;
  margin-left: 30px;
}

/* Cuando el elemento está siendo arrastrado (tamaño original) */
.cuadroIMG-expanded {
  width: 50px;
  height: 50px;
  margin-left: 90px;
  
} 

.cuadroIMG2 {
  width: 90px;
  height: 30px;
  transition: width 0.3s ease, height 0.3s ease;
  background-color: transparent;
  position: relative;
  margin-left: 10px;
}

/* Cuando el elemento está siendo arrastrado (tamaño original) */
.cuadroIMG2-expanded {
  width: 90px;
  height: 30px;
  margin-left: 10px;
  
}


/*CSS del componete que se utiliza para arastrar imagnes*/
.draggableDiv {
  transition: all 0.2s ease;
}

.draggableDiv.expanded {
  transform: scale(1.1); /* Expande el tamaño del div mientras el clic está sostenido */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Añade sombra */
  background-color: rgba(0, 0, 0, 0.1); /* Fondo ligeramente oscuro */
}

/*############################## Ajutes para tamaños de pantallas #######################################################*/

@media (max-width: 1024px) {
  .head {
    flex-direction: column;
    gap: 5vh;
  }

  .report-container {
    width: 70vh;
    font-size: 22px;
  }

  .box-container {
    width: 40vh;
  }

  .wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .vertical-container {
    width: 35vh;
    height: 90vh;
  }

  .cuadro,
  .circulo {
    width: 40px;
    height: 40px;
  }

  .cuadro-expanded,
  .circulo-expanded {
    width: 200px;
    height: 100px;
  }
}

/* Ajustes para dispositivos pequeños (móviles) */
@media (max-width: 768px) {
  .head {
    flex-direction: column;
    padding-top: 1vh;
    gap: 2vh;
  }

  .head h1 {
    font-size: 18px;
  }

  .report-container {
    width: 60vh;
    font-size: 18px;
    padding: 0 10px;
  }

  .box-container {
    width: 30vh;
  }

  .box {
    padding-left: 10px;
  }

  .title {
    font-size: 14px;
  }

  .data {
    font-size: 10px;
  }

  .wrapper {
    flex-direction: column;
    gap: 10px;
    padding: 2vh;
  }

  .vertical-container {
    width: 30vh;
    height: 70vh;
  }

  .cuadro,
  .circulo {
    width: 30px;
    height: 30px;
  }

  .cuadro-expanded,
  .circulo-expanded {
    width: 180px;
    height: 90px;
  }
}

/* Ajustes para pantallas muy grandes */
@media (min-width: 1200px) {
  .report-container {
    width: 100vh;
    font-size: 30px;
  }

  .box-container {
    width: 60vh;
  }

  .vertical-container {
    width: 50vh;
    height: 130vh;
  }

  .cuadro-expanded,
  .circulo-expanded {
    width: 250px;
    height: 130px;
  }
}


/*#####################################################################################*/

/* Detalles referentes a la impresion */
@media print {

  .conclusion-container {
    height: 985px !important;
    overflow: visible !important;
    
  }

  .cuadro-expanded {
    width: 240px;
    height: 120px;
    margin-left: -10px;
  }
  .circulo-expanded {
    width: 240px;
    height: 120px;
    
  }

  .dropArea {
    top: 0px;
    left: 8px;
    width: 100%;
    height: 985px;
    position: absolute;
    overflow: hidden;
    /* border: yellow 2px solid; */
    
  }

  .print {
    display: none;
  }

  .dont-print {
    display: none;
  }

  .image-container {
    margin-top: -20px;
    position: relative;
    width: 100%;
    height: 100%;
    /* border: rgb(0, 60, 255) 2px solid; */
  }

  .handle {
    position: relative;
  }
  
  .box-container {
    position: absolute;
    top: 0;
    width: 40vh;
    background: transparent;
    background-color: transparent;
    z-index: 1;
  }

  .info-container textarea {
    position: bottom;
    width: 100%;
    height: 80%;
    margin-top: 20px;
    font-size: 14px;
    /* border: yellowgreen 2px solid; */
    resize: none;
    top: 4vh;
    
  }

  .head{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap : 10vh;

  }
  
  .rnd-image {
    left: -725px !important;
    top: -105px !important;

  }

}
