/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw; /* Aumenta el ancho en pantallas pequeñas */
    }

    .btnEp1, .btnEp2, .btnEp3, .btnEp4, .btnEp5, .btnEp6, .btnEp7, .btnEp8, .btnEp9, .btnEp10,
    .btnEp11, .btnEp12, .btnEp13, .btnEp14, .btnEp15, .btnEp16, .btnEp17, .btnEp18, .btnEp19, .btnEp20,
    .btnEp21, .btnEp22, .btnEp23, .btnEp24, .btnEp25, .btnEp26, .btnEp27, .btnEp28, .btnEp29, .btnEp30,
    .btnEp31, .btnEp32, .btnEp33, .btnEp34, .btnEp35, .btnEp36, .btnEp37, .btnEp38, .btnEp39, .btnEp40,
    .btnEp41, .btnEp42, .btnEp43, .btnEp44, .btnEp45 {
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnEp1, .btnEp2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}


.btnIMs1 {
    position: absolute ;
    background-image: url('/assets/ValoresImg/mEDX_64_Valores.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #4a4a4a; /* Borde de color gris oscuro */
    height: 3.5vw; /* Tamaño reducido */
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(820%, -365%);
    background-color: transparent;
    border-radius: 20%;
    z-index: 1;
    color: rgb(226, 226, 226);
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnIMs2 {
    position: absolute ;
    background-image: url('/assets/ValoresImg/I_Tabla_Gris.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #4a4a4a;
    height: 3.5vw; /* Tamaño reducido */
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(700%, -365%);
    background-color: transparent;
    border-radius: 20%;
    z-index: 1;
    color: rgb(10, 10, 10);
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}



.btnEp1 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(145%, 115%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnEp2 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(560%, 100%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnEp3 {
    position: absolute;
    height: 2.7vw;
    width: 2.7vw;
    top: 30%;
    left: 45%;
    transform: translate(570%, 210%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnEp4 {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 30%;
    left: 45%;
    transform: translate(490%, 360%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}



.btnEp5 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(-895%, -155%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnEp6 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(-610%, 110%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnEp7 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(-630%, -90%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnEp8 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(-360%, -220%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnEp9 {
    position: absolute;
    height: 2.8vw;
    width: 2.8vw;
    top: 30%;
    left: 45%;
    transform: translate(-275%, 475%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnEp10 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(-220%, -230%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnEp11 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(225%, -255%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnEp12 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(375%, -275%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.text-boxEp {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.842);
    color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border: 1px solid #ddd;
    white-space: pre-line; /* Asegura que los saltos de línea se respeten */
}

.zoomable-imageMt:hover {
    transform: scale(0.5); /* Ajusta el valor de escala según sea necesario */
    transform-origin: top left; /* Expande hacia la derecha y hacia abajo */
    position: center;
}
