/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw; /* Aumenta el ancho en pantallas pequeñas */
    }

    .btnPs1, .btnPs2, .btnPs3, .btnPs4, .btnPs5, .btnPs6, .btnPs7, .btnPs8, .btnPs9, .btnPs10,
    .btnPs11, .btnPs12, .btnPs13, .btnPs14, .btnPs15, .btnPs16, .btnPs17, .btnPs18, .btnPs19, .btnPs20,
    .btnPs21, .btnPs22, .btnPs23, .btnPs24, .btnPs25, .btnPs26, .btnPs27, .btnPs28, .btnPs29, .btnPs30,
    .btnPs31, .btnPs32, .btnPs33, .btnPs34, .btnPs35, .btnPs36, .btnPs37, .btnPs38, .btnPs39, .btnPs40,
    .btnPs41, .btnPs42, .btnPs43, .btnPs44, .btnPs45 {
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnPs1, .btnPs2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}


.btnPs1 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(-125%, 535%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs2 {
    position: absolute;
    height: 2.1vw;
    width: 2.1vw;
    top: 30%;
    left: 45%;
    transform: translate(360%, 730%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs3 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-125%, 365%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs4 {
    position: absolute;
    height: 2.1vw;
    width: 2.1vw;
    top: 30%;
    left: 45%;
    transform: translate(240%, 280%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs5 {
    position: absolute;
    height: 2.1vw;
    width: 2.1vw;
    top: 30%;
    left: 45%;
    transform: translate(280%, 185%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs6 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(455%, -365%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}


.btnPs7 {
    position: absolute;
    height: 2.3vw;
    width: 2.3vw;
    top: 30%;
    left: 45%;
    transform: translate(-125%, 590%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs8 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(280%, 320%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs9 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(325%, 225%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs10 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(410%, 25%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs11 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(440%, -75%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs12 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(470%, -175%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs13 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(500%, -275%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPs14 {
    position: absolute;
    height: 12vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(370%, -80%) rotate(20deg);
    background-color: transparent;
    border: none;
    border-radius: 10%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}



.text-boxPs {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.842);
    color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border: 1px solid #ddd;
    white-space: pre-line; /* Asegura que los saltos de línea se respeten */
}


