/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw; /* Aumenta el ancho en pantallas pequeñas */
    }

    .btnTg1, .btnTg2, .btnTg3, .btnTg4, .btnTg5, .btnTg6, .btnTg7, .btnTg8, .btnTg9, .btnTg10,
    .btnTg11, .btnTg12, .btnTg13, .btnTg14, .btnTg15, .btnTg16, .btnTg17, .btnTg18, .btnTg19, .btnTg20,
    .btnTg21, .btnTg22, .btnTg23, .btnTg24, .btnTg25, .btnTg26, .btnTg27, .btnTg28, .btnTg29, .btnTg30,
    .btnTg31, .btnTg32, .btnTg33, .btnTg34, .btnTg35, .btnTg36, .btnTg37, .btnTg38, .btnTg39, .btnTg40,
    .btnTg41, .btnTg42, .btnTg43, .btnTg44, .btnTg45 {
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnTg1, .btnTg2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}


.btnTg1 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(195%, -435%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTg2 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(340%, -250%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTg3 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(480%, -225%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTg4 {
    position: absolute;
    height: 2.7vw;
    width: 2.7vw;
    top: 30%;
    left: 45%;
    transform: translate(350%, -335%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.text-boxTg {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.842);
    color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border: 1px solid #ddd;
    white-space: pre-line; /* Asegura que los saltos de línea se respeten */
}


