/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw; /* Aumenta el ancho en pantallas pequeñas */
    }

    .btnPd1, .btnPd2, .btnPd3, .btnPd4, .btnPd5, .btnPd6, .btnPd7, .btnPd8, .btnPd9, .btnPd10,
    .btnPd11, .btnPd12, .btnPd13, .btnPd14, .btnPd15, .btnPd16, .btnPd17, .btnPd18, .btnPd19, .btnPd20,
    .btnPd21, .btnPd22, .btnPd23, .btnPd24, .btnPd25, .btnPd26, .btnPd27, .btnPd28, .btnPd29, .btnPd30,
    .btnPd31, .btnPd32, .btnPd33, .btnPd34, .btnPd35, .btnPd36, .btnPd37, .btnPd38, .btnPd39, .btnPd40,
    .btnPd41, .btnPd42, .btnPd43, .btnPd44, .btnPd45 {
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnPd1, .btnPd2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}


.btnPd1 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(170%, 230%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPd2 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(290%, 315%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnPd3 {
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(425%, 50%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.text-boxPd {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.842);
    color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 0.9em;
    border: 1px solid #ddd;
    white-space: pre-line; /* Asegura que los saltos de línea se respeten */
}


