/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw; /* Aumenta el ancho en pantallas pequeñas */
    }

    .btnMc1, .btnMc2, .btnMc3, .btnMc4, .btnMc5, .btnMc6, .btnMc7, .btnMc8, .btnMc9, .btnMc10,
    .btnMc11, .btnMc12, .btnMc13, .btnMc14, .btnMc15, .btnMc16, .btnMc17, .btnMc18, .btnMc19, .btnMc20,
    .btnMc21, .btnMc22, .btnMc23, .btnMc24, .btnMc25, .btnMc26, .btnMc27, .btnMc28, .btnMc29, .btnMc30,
    .btnMc31, .btnMc32, .btnMc33, .btnMc34, .btnMc35, .btnMc36, .btnMc37, .btnMc38, .btnMc39, .btnMc40,
    .btnMc41, .btnMc42, .btnMc43, .btnMc44, .btnMc45 {
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnMc1, .btnMc2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}

.btnIMs1 {
    position: absolute ;
    background-image: url('/assets/ValoresImg/mEDX_64_Valores.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #4a4a4a; /* Borde de color gris oscuro */
    height: 3.5vw; /* Tamaño reducido */
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(820%, -365%);
    background-color: transparent;
    border-radius: 20%;
    z-index: 1;
    color: rgb(226, 226, 226);
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnIMs2 {
    position: absolute ;
    background-image: url('/assets/ValoresImg/I_Tabla_Gris.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #4a4a4a;
    height: 3.5vw; /* Tamaño reducido */
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(700%, -365%);
    background-color: transparent;
    border-radius: 20%;
    z-index: 1;
    color: rgb(10, 10, 10);
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnMc1 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(130%, -450%);
    background-color: transparent;
    border: none; 
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;

}
.btnMc2 {
    position: absolute;
    height: 2.8vw;
    width: 2.8vw;
    top: 30%;
    left: 45%;
    transform: translate(220%, -135%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;

}
.btnMc3 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(0%, 375%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;

}
.btnMc4 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(-60%, 680%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;

}

.text-boxMc {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.842);
    color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border: 1px solid #ddd;
    white-space: pre-line; /* Asegura que los saltos de línea se respeten */
}

.zoomable-imageMc:hover {
    transform: scale(3.0); /* Ajusta el valor de escala según sea necesario */
    transform-origin: top left; /* Expande hacia la derecha y hacia abajo */
}

