/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnUMt1, .btnUMt2, .btnUMt3, .btnUMt4, .btnUMt5{
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnUMt1, .btnUMt2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}


.btnIMs1 {
    position: absolute ;
    background-image: url('/assets/ValoresImg/mEDX_64_Valores.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #4a4a4a; /* Borde de color gris oscuro */
    height: 3.5vw; /* Tamaño reducido */
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(820%, -365%);
    background-color: transparent;
    border-radius: 20%;
    z-index: 1;
    color: rgb(226, 226, 226);
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnIMs2 {
    position: absolute ;
    background-image: url('/assets/ValoresImg/I_Tabla_Gris.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #4a4a4a;
    height: 3.5vw; /* Tamaño reducido */
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(700%, -365%);
    background-color: transparent;
    border-radius: 20%;
    z-index: 1;
    color: rgb(10, 10, 10);
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

/* Primera imagen */
.btnUMt1 {
    position: absolute;
    height: 2.0vw; /* Tamaño reducido */
    width: 2.0vw;
    top: 30%;
    left: 55%;
    transform: translate(-1165%, 400%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
    
}

.btnUMt2 {
    position: absolute;
    height: 2.5vw; /* Tamaño reducido */
    width: 2.5vw;
    top: 30%;
    left: 55%;
    transform: translate(-233%, 90%);
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

.btnUMt3 {
    position: absolute;
    height: 2.0vw; /* Tamaño reducido */
    width: 2.0vw;
    top: 30%;
    left: 55%;
    transform: translate(275%, 390%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

.btnUMt4 {
    position: absolute;
    height: 2.2vw; /* Tamaño reducido */
    width: 2.2vw;
    top: 30%;
    left: 55%;
    transform: translate(590%, 330%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

.btnUMt5 {
    position: absolute;
    height: 2.2vw; /* Tamaño reducido */
    width: 2.2vw;
    top: 30%;
    left: 55%;
    transform: translate(780%, 370%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}


/* Segunda imagen */

.btnUMt6 {
    position: absolute;
    height: 1.8vw;
    width: 1.8vw;
    top: 30%;
    left: 55%;
    transform: translate(-1445%, -565%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

.btnUMt7 {
    position: absolute;
    height: 1.8vw;
    width: 1.8vw;
    top: 30%;
    left: 55%;
    transform: translate(-910%, 30%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

.btnUMt8 {
    position: absolute;
    height: 1.8vw;
    width: 1.8vw;
    top: 30%;
    left: 55%;
    transform: translate(-620%, 950%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

.btnUMt9 {
    position: absolute;
    height: 1.8vw;
    width: 1.8vw;
    top: 30%;
    left: 55%;
    transform: translate(-345%, 950%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

.btnUMt10 {
    position: absolute;
    height: 1.8vw;
    width: 1.8vw;
    top: 30%;
    left: 55%;
    transform: translate(45%, 450%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

.btnUMt11 {
    position: absolute;
    height: 1.8vw;
    width: 1.8vw;
    top: 30%;
    left: 55%;
    transform: translate(410%, 380%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

.btnUMt12 {
    position: absolute;
    height: 1.8vw;
    width: 1.8vw;
    top: 30%;
    left: 55%;
    transform: translate(605%, 450%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

.btnUMt13 {
    position: absolute;
    height: 1.8vw;
    width: 1.8vw;
    top: 30%;
    left: 55%;
    transform: translate(770%, 420%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

/* Tercera imagen */

.btnUMt14 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(-570%, 565%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt15 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(-540%, 425%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt16 {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 30%;
    left: 55%;
    transform: translate(-625%, 60%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt17 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(-445%, -170%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt18 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(185%, -410%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt19 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(625%, -360%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}

/* Cuarta imagen */

.btnUMt20 {
    position: absolute;
    height: 2.3vw;
    width: 2.3vw;
    top: 30%;
    left: 55%;
    transform: translate(-5%, 340%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt21 {
    position: absolute;
    height: 2.3vw;
    width: 2.3vw;
    top: 30%;
    left: 55%;
    transform: translate(-40%, 220%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt22 {
    position: absolute;
    height: 2.8vw;
    width: 2.8vw;
    top: 30%;
    left: 55%;
    transform: translate(90%, 15%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt23 {
    position: absolute;
    height: 2.3vw;
    width: 2.3vw;
    top: 30%;
    left: 55%;
    transform: translate(420%, -205%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt24 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 55%;
    transform: translate(550%, -220%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}


.btnUMt25 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 55%;
    transform: translate(-1155%, 230%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt26 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 55%;
    transform: translate(-740%, 490%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt27 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 55%;
    transform: translate(-420%, 560%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt28 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(-190%, 100%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}
.btnUMt29 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 55%;
    transform: translate(400%, 360%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}




.btnUMt30 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(-215%, -370%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;

}

.btnUMt31 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(390%, -190%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;

}

.btnUMt33 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(530%, -160%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;

}

.btnUMt34 {
    position: absolute;
    height: 8.4vw;
    width: 15.4vw;
    top: 30%;
    left: 55%;
    transform: translate(-90%, 120%);
    background-color: transparent;
    border: none;
    
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;

}
.btnUMt35 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(430%, -405%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;

}
.btnUMt36 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(460%, -90%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;

}

.btnUMt37 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 55%;
    transform: translate(620%, -165%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;

}

.btnUMt38 {
    position: absolute;
    height: 2.8vw;
    width: 22vw;
    top: 30%;
    left: 55%;
    transform: translate(-25%, 540%);
    background-color: transparent;
    border: none;
    border-radius: 10%;
    z-index: 1;
    color: transparent;
    font-size: 1.9vw;
    font-family: 'Times New Roman';
    transition:all .2s ease-in-out;
}





.btnI1 {
    position: absolute ;
    background-image: url('/assets/ValoresImg/mEDX_64_Valores.png');
    background-size: cover;
    background-position: center;
    border: none; /* Opcional: elimina el borde del botón */
    height: 3.5vw; /* Tamaño reducido */
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(820%, -365%);
    background-color: rgb(196, 196, 196);
    border: none;
    border-radius: 20%;
    z-index: 1;
    color: rgb(226, 226, 226);
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnI2 {
    position: absolute ;
    background-image: url('/assets/ValoresImg/I_Tabla_Gris.png');
    background-size: cover;
    background-position: center;
    border: none; /* Opcional: elimina el borde del botón */
    height: 3.5vw; /* Tamaño reducido */
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(700%, -365%);
    background-color: rgb(196, 196, 196);
    border: none;
    border-radius: 20%;
    z-index: 1;
    color: rgb(10, 10, 10);
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}





.text-boxUlM {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.842);
    color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border: 1px solid #ddd;
    white-space: pre-line; /* Asegura que los saltos de línea se respeten */
}


.zoomable-imageUlMt:hover {
    transform: scale(2.0); /* Ajusta el valor de escala según sea necesario */
    transform-origin: top left; /* Expande hacia la derecha y hacia abajo */
}
