/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw; /* Aumenta el ancho en pantallas pequeñas */
    }

    .btnTb1, .btnTb2, .btnTb3, .btnTb4, .btnTb5, .btnTb6, .btnTb7, .btnTb8, .btnTb9, .btnTb10,
    .btnTb11, .btnTb12, .btnTb13, .btnTb14, .btnTb15, .btnTb16, .btnTb17, .btnTb18, .btnTb19, .btnTb20,
    .btnTb21, .btnTb22, .btnTb23, .btnTb24, .btnTb25, .btnTb26, .btnTb27, .btnTb28, .btnTb29, .btnTb30,
    .btnTb31, .btnTb32, .btnTb33, .btnTb34, .btnTb35, .btnTb36, .btnTb37, .btnTb38, .btnTb39, .btnTb40,
    .btnTb41, .btnTb42, .btnTb43, .btnTb44, .btnTb45 {
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnTb1, .btnTb2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}


.btnTb1 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(-875%, -55%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb2 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(500%, 490%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb3 {
    position: absolute;
    height: 2.8vw;
    width: 2.8vw;
    top: 30%;
    left: 45%;
    transform: translate(705%, 180%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb4 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(890%, 460%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb5 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(1095%, 105%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}


.btnTb6 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(-1010%, 65%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb7 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(500%, 60%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb8 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(720%, 595%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb9 {
    position: absolute;
    height: 2.8vw;
    width: 2.8vw;
    top: 30%;
    left: 45%;
    transform: translate(620%, 215%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb10 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(1065%, 385%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}


.btnTb11 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-200%, -265%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb12 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(-60%, 80%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb13 {
    position: absolute;
    height: 2.7vw;
    width: 2.7vw;
    top: 30%;
    left: 45%;
    transform: translate(100%, 185%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb14 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(360%, 60%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb15 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(-55%, 390%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb16 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(295%, 345%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnTb17 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-985%, 55%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb18 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-340%, 210%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb19 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-410%, -170%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb20 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(370%, 10%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb21 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-110%, -120%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb22 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-70%, 120%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb23 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-30%, -10%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnTb24 {
    position: absolute;
    height: 2.3vw;
    width: 2.3vw;
    top: 30%;
    left: 45%;
    transform: translate(180%, -170%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}



.text-boxTb {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.842);
    color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border: 1px solid #ddd;
    white-space: pre-line; /* Asegura que los saltos de línea se respeten */
}


