/* Contenedor principal de la galería */
.gallery-container {
    position: relative;
    width: 100%;
    max-width: 60vw;
    height: auto;
    padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
    overflow: hidden;
    margin: auto;
    margin-top: 2px;
}

/* Contenedor interno de la galería */
.gallery-container .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container .image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Llenado sin distorsión */
}

/* Posición de los bullets de navegación */
.gallery-container .image-gallery-bullets {
    position: absolute;
    bottom: 10px; /* Reducido para adaptabilidad en móviles */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .gallery-container {
        max-width: 60vw; /* Aumenta el ancho en pantallas pequeñas */
    }

    .btnRMt1, .btnRMt2, .btnRMt3, .btnRMt4, .btnRMt5, .btnRMt6, .btnRMt7, .btnRMt8, .btnRMt9, .btnRMt10,
    .btnRMt11, .btnRMt12, .btnRMt13, .btnRMt14, .btnRMt15, .btnRMt16, .btnRMt17, .btnRMt18, .btnRMt19, .btnRMt20,
    .btnRMt21, .btnRMt22, .btnRMt23, .btnRMt24, .btnRMt25, .btnRMt26, .btnRMt27, .btnRMt28, .btnRMt29, .btnRMt30,
    .btnRMt31, .btnRMt32, .btnRMt33, .btnRMt34, .btnRMt35, .btnRMt36, .btnRMt37, .btnRMt38, .btnRMt39, .btnRMt40,
    .btnRMt41, .btnRMt42, .btnRMt43, .btnRMt44, .btnRMt45 {
        height: 10vw;
        width: 10vw;
        top: 35%;
        padding: 3%;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        max-width: 60vw;
    }

    .btnRMt1, .btnRMt2 {
        height: 10vw;
        width: 10vw;
        top: 40%; /* Posición ajustada para pantallas muy pequeñas */
    }

    .gallery-container .image-gallery-bullets {
        bottom: 2px; /* Más cerca del borde en móviles */
    }
}


.btnIMs1 {
    position: absolute ;
    background-image: url('/assets/ValoresImg/mEDX_64_Valores.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #4a4a4a; /* Borde de color gris oscuro */
    height: 3.5vw; /* Tamaño reducido */
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(820%, -365%);
    background-color: transparent;
    border-radius: 20%;
    z-index: 1;
    color: rgb(226, 226, 226);
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnIMs2 {
    position: absolute ;
    background-image: url('/assets/ValoresImg/I_Tabla_Gris.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #4a4a4a;
    height: 3.5vw; /* Tamaño reducido */
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(700%, -365%);
    background-color: transparent;
    border-radius: 20%;
    z-index: 1;
    color: rgb(10, 10, 10);
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt1 {
    position: absolute;
    height: 2vw; 
    width: 2vw;
    top: 30%;
    left: 45%;
    transform: translate(-730%, 85%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt2 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-285%, -15%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt3 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(270%, 365%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt4 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(500%, 315%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt5 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(700%, 290%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt6 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(815%, 110%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}



.btnRMt7 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-1140%, 330%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt8 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-780%, -140%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt9 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-570%, -240%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt10 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-395%, -390%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt11 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-200%, -360%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt12 {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(-255%, 65%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt13 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(280%, -20%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt14 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(470%, -215%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt15 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(700%, -195%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}




.btnRMt16 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-10%, -110%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt17 {
    position: absolute;
    height: 2.5vw; 
    width: 2.5vw;
    top: 30%;
    left: 45%;
    transform: translate(160%, 370%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt18 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(405%, -30%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt19 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(950%, 85%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}



.btnRMt20 {
    position: absolute;
    height: 2.2vw;
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(190%, -130%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt21 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(395%, -100%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt22 {
    position: absolute;
    height: 2.6vw; 
    width: 2.6vw;
    top: 30%;
    left: 45%;
    transform: translate(510%, 130%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}
.btnRMt23 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(1100%, 10%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}




.btnRMt24 {
    position: absolute;
    height: 2.2vw; 
    width: 2.2vw;
    top: 30%;
    left: 45%;
    transform: translate(-250%, 290%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt25 {
    position: absolute;
    height: 2.4vw; 
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(360%, 330%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt26 {
    position: absolute;
    height: 2.4vw;
    width: 2.4vw;
    top: 30%;
    left: 45%;
    transform: translate(925%, -20%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt27 {
    position: absolute;
    height: 2.8vw; 
    width: 2.8vw;
    top: 30%;
    left: 45%;
    transform: translate(890%, 110%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}




.btnRMt28 {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 30%;
    left: 45%;
    transform: translate(-708%, 295%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt29 {
    position: absolute;
    height: 3.2vw;
    width: 3.2vw;
    top: 30%;
    left: 45%;
    transform: translate(230%, -170%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt30 {
    position: absolute;
    height: 3.2vw;
    width: 3.2vw;
    top: 30%;
    left: 45%;
    transform: translate(390%, 455%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt31 {
    position: absolute;
    height: 3.5vw;
    width: 3.5vw;
    top: 30%;
    left: 45%;
    transform: translate(445%, -220%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt32 {
    position: absolute;
    height: 3.2vw;
    width: 3.2vw;
    top: 30%;
    left: 45%;
    transform: translate(755%, -285%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}

.btnRMt33 {
    position: absolute;
    height: 3.2vw;
    width: 3.2vw;
    top: 30%;
    left: 45%;
    transform: translate(710%, 395%);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    color: white;
    font-size: 1.5vw;
    transition:all .2s ease-in-out;
}



.text-boxRMt {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.842);
    color: white;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(8, 8, 8, 0.377);
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    border: 1px solid #ddd;
    white-space: pre-line; /* Asegura que los saltos de línea se respeten */
}

.zoomable-imageRm:hover {
    transform: scale(2.5); /* Ajusta el valor de escala según sea necesario */
    transform-origin: top left; /* Expande hacia la derecha y hacia abajo */
}


