.imagen1{
  z-index: 2;
  position: absolute;
  width: 600px;
  height: 750px;
  top: 20%;
  left: 21.25%
}

input[type="checkbox"] {
  width: 10px;  /* Ajusta el ancho */
  height: 10px; /* Ajusta la altura */
  transform: scale(1.5); /* Escala el checkbox para hacerlo más grande */
  margin: 2.7px;  /* Añade margen para separar los elementos */
  vertical-align: middle; /* Alinea el checkbox verticalmente al medio */
}

.checkbox-container {
  display: flex; /* Utiliza flex para alinear los elementos */
  justify-content: space-around; /* Espacio entre los checkboxes */
  align-items: center; /* Alinea verticalmente en el centro */
}



.cruz1 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 5.5%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.cruz2 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 5.5%;
  left: 46.25%;
  transform: translate(-50%, -50%);
}

.cruz3 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 5.5%;
  left: 45.5%;
  transform: translate(-50%, -50%);

}

.cruz4 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 5.5%;
  left: 44.7%;
  transform: translate(-50%, -50%);

}

.cruz5 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 5.5%;
    left:52.7%;
    transform: translate(-50%, -50%);

}

.cruz6 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 5.5%;
  left:53.5%;
  transform: translate(-50%, -50%);

}

.cruz7 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 5.5%;
  left:54.2%;
  transform: translate(-50%, -50%);

}

.cruz8 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 5.5%;
  left:55%;
  transform: translate(-50%, -50%);

}

.cruz9 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 6.3%;
    left: 43%;
}

.cruz10 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 6.3%;
  left: 42.3%
}

.cruz11 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 6.3%;
  left: 41.5%
}

.cruz12 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 6.3%;
  left: 40.7%
}

.cruz13 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 6.3%;
    right: 43%;
}

.cruz14 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 6.3%;
  right: 42.3%;
}

.cruz15 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 6.3%;
  right: 41.5%;
}

.cruz16 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 6.3%;
  right: 40.7%;
}

/**/

.cruz17 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 8%;
    left: 43%
}

.cruz18 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 8%;
  left: 42.2%
}

.cruz19 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 8%;
  left: 41.5%
}

.cruz20 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 8%;
  left: 40.7%
}

.cruz21 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 8%;
    right: 43%
}

.cruz22 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 8%;
  right:42.2%
}

.cruz23 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 8%;
  right: 41.5%
}

.cruz24 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 8%;
  right:40.7%
}

/**/

.cruz25 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 10.2%;
    left: 42.8%
}

.cruz26 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 10.2%;
  left: 41.8%
}

.cruz27 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 10.2%;
  left: 41%
}

.cruz28 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 10.2%;
  left: 40.3%
}

.cruz29 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 10.2%;
    right: 42.8%
}

.cruz30 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 10.2%;
  right:41.8%
}

.cruz31 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 10.2%;
  right: 41%
}

.cruz32 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 10.2%;
  right: 40.3%
}

/**/

.cruz33 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 13.2%;
    left: 42.5%
}

.cruz34 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 13.2%;
  left: 41.8%
}

.cruz35 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 13.2%;
  left: 41%
}

.cruz36 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 13.2%;
  left: 40.2%
}

.cruz37 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 13.2%;
    right: 42.5%
}

.cruz38 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 13.2%;
  right: 41.8%
}

.cruz39 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 13.2%;
  right: 41%
}

.cruz40 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 13.2%;
  right:  40.2%
}

/**/

.cruz41 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 16.0%;
    left: 42.2%
    
}

.cruz42 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 16.0%;
  left: 41.5%
}

.cruz43 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 16.0%;
  left: 40.6%
}

.cruz44 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 16.0%;
  left: 40%
}

.cruz45 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 16.0%;
    right: 42.2%
}

.cruz46 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 16.0%;
  right: 41.5%
}

.cruz47 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 16.0%;
  right: 40.6%
}

.cruz48 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 16.0%;
  right: 40%
}

/**/
/*Lumbar L2 lado Izquierdo*/
.cruz49 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 53%;
  left: 41.5%
}

.cruz50 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 53%;
  left: 40.5%
}

.cruz51 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 53%;
  left: 39.5%
}

.cruz52 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 53%;
  left: 38.5%
}

/*Lumbar L2 lado Derecho*/
.cruz53 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 53%;
  left: 49%
}

.cruz54 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 53%;
  left: 50%
}

.cruz55 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 53%;
  left: 51%
}

.cruz56 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 53%;
  left: 52%
}

/**/
/*Lumbar L3 lado Izquierdo*/
.cruz57 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 56.5%;
  left: 41%
}

.cruz58 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 56.5%;
  left: 40%
}

.cruz59 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 56.5%;
  left: 39%
}

.cruz60 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 56.5%;
  left: 38%
}

/*Lumbar L3 lado Derecho*/
.cruz61 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 56.5%;
    left: 49.5%
}

.cruz62 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 56.5%;
  left: 50.5%
}

.cruz63 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 56.5%;
  left: 51.5%
}

.cruz64 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 56.5%;
  left: 52.5%
}

/**/
/*Lumbar L4 lado Izquierdo*/
.cruz65 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 60%;
  left: 41%
}

.cruz66 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 60%;
  left: 40%
}

.cruz67 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 60%;
  left: 39%
}

.cruz68 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 60%;
  left: 38%
}

/*Lumbar L4 lado Derecho*/
.cruz69 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 60%;
    left: 49.5%
}

.cruz70 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 60%;
  left: 50.5%
}

.cruz71 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 60%;
  left: 51.5%
}

.cruz72 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 60%;
  left: 52.5%
}

/**/
/*Lumbar L5 lado Izquierdo*/
.cruz73 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 64%;
    left: 41%
}

.cruz74 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 64%;
  left: 40%
}

.cruz75 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 64%;
  left: 39%
}

.cruz76 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 64%;
  left: 38%
}

/*Lumbar L5 lado Derecho*/
.cruz77 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 64%;
    left: 49.5%
}

.cruz78 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 64%;
  left: 50.5%
}

.cruz79 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 64%;
  left: 51.5%
}

.cruz80 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 64%;
  left: 52.5%
}

/**/

.cruz81 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 31%;
    left: 42%
}

.cruz82 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 80%;
  left: 54.25%
}

.cruz83 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 80%;
  left: 53.5%
}

.cruz84 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 80%;
  left: 52.75%
}

.cruz85 {
    z-Index: 3;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 80%;
    left: 60%
}

.cruz86 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 80%;
  left: 60.75%
}

.cruz87 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 80%;
  left: 61.5%
}

.cruz88 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 80%;
  left: 62.25%
}

/*############################### Torácica #################################*/
/*Torácica T2 lado Izquierdo*/
.cruz89 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 19.0%;
  left: 41.5%
}

.cruz90 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 19.0%;
  left: 40.5%
}

.cruz91 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 19.0%;
  left: 39.5%
}

.cruz92 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 19.0%;
  left: 38.8%
}

/*Torácica T2 lado Derecho*/
.cruz93 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 19.0%;
  left: 48.7%
}

.cruz94 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 19.0%;
  left: 49.7%
}

.cruz95 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 19.0%;
  left: 50.7%
}

.cruz96 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 19.0%;
  left: 51.7%
}

/*Torácica T3 lado Izquierdo*/
.cruz97 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 22.0%;
  left: 41.5%
}

.cruz98 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 22.0%;
  left: 40.5%
}

.cruz99 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 22.0%;
  left: 39.5%
}

.cruz100 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 22.0%;
  left: 38.8%
}

/*Torácica T3 lado Derecho*/
.cruz101 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 22.0%;
  left: 48.7%
}

.cruz102 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 22.0%;
  left: 49.7%
}

.cruz103{
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 22.0%;
  left: 50.7%
}

.cruz104 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 22.0%;
  left: 51.7%
}

/*Torácica T4 lado Izquierdo*/
.cruz105 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 25.0%;
  left: 41.5%
}

.cruz106 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 25.0%;
  left: 40.5%
}

.cruz107 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 25.0%;
  left: 39.5%
}

.cruz108 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 25.0%;
  left: 38.8%
}

/*Torácica T4 lado Derecho*/
.cruz109 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 25.0%;
  left: 48.7%
}

.cruz110 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 25.0%;
  left: 49.7%
}

.cruz111{
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 25.0%;
  left: 50.7%
}

.cruz112 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 25.0%;
  left: 51.7%
}

/*Torácica T5 lado Izquierdo*/
.cruz113 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 28.0%;
  left: 41.5%
}

.cruz114 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 28.0%;
  left: 40.5%
}

.cruz115 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 28.0%;
  left: 39.5%
}

.cruz116 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 28.0%;
  left: 38.8%
}

/*Torácica T4 lado Derecho*/
.cruz117 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 28.0%;
  left: 48.7%
}

.cruz118 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 28.0%;
  left: 49.7%
}

.cruz119{
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 28.0%;
  left: 50.7%
}

.cruz120 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 28.0%;
  left: 51.7%
}

/* Torácica T5 lado Izquierdo */
.cruz121 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 31.0%;
  left: 41.5%;
}

.cruz122 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 31.0%;
  left: 40.5%;
}

.cruz123 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 31.0%;
  left: 39.5%;
}

.cruz124 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 31.0%;
  left: 38.8%;
}

/* Torácica T5 lado Derecho */
.cruz125 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 31.0%;
  left: 48.7%;
}

.cruz126 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 31.0%; 
  left: 49.7%;
}

.cruz127 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 31.0%;
  left: 50.7%;
}

.cruz128 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 31.0%;
  left: 51.7%;
}

/* Torácica T6 lado Izquierdo */
.cruz129 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 34.0%;
  left: 41.5%;
}

.cruz130 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 34.0%;
  left: 40.5%;
}

.cruz131 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 34.0%;
  left: 39.5%;
}

.cruz132 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 34.0%;
  left: 38.8%;
}

/* Torácica T6 lado Derecho */
.cruz133 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 34.0%;
  left: 48.7%;
}

.cruz134 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 34.0%;
  left: 49.7%;
}

.cruz135 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 34.0%;
  left: 50.7%;
}

.cruz136 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 34.0%;
  left: 51.7%;
}

/* Torácica T7 lado Izquierdo */
.cruz137 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 37.0%;
  left: 41.5%;
}

.cruz138 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 37.0%;
  left: 40.5%;
}

.cruz139 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 37.0%;
  left: 39.5%;
}

.cruz140 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 37.0%;
  left: 38.8%;
}

/* Torácica T7 lado Derecho */
.cruz141 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 37.0%;
  left: 48.7%;
}

.cruz142 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 37.0%;
  left: 49.7%;
}

.cruz143 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 37.0%;
  left: 50.7%;
}

.cruz144 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 37.0%;
  left: 51.7%;
}

/* Torácica T8 lado Izquierdo */
.cruz145 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 40.0%;
  left: 41.5%;
}

.cruz146 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 40.0%;
  left: 40.5%;
}

.cruz147 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 40.0%;
  left: 39.5%;
}

.cruz148 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 40.0%;
  left: 38.8%;
}

/* Torácica T8 lado Derecho */
.cruz149 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 40.0%;
  left: 48.7%;
}

.cruz150 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 40.0%;
  left: 49.7%;
}

.cruz151 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 40.0%;
  left: 50.7%;
}

.cruz152 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 40.0%;
  left: 51.7%;
}

/* Torácica T9 lado Izquierdo */
.cruz153 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 43.0%;
  left: 41.5%;
}

.cruz154 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 43.0%;
  left: 40.5%;
}

.cruz155 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 43.0%;
  left: 39.5%;
}

.cruz156 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 43.0%;
  left: 38.8%;
}

/* Torácica T9 lado Derecho */
.cruz157 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 43.0%;
  left: 48.7%;
}

.cruz158 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 43.0%;
  left: 49.7%;
}

.cruz159 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 43.0%;
  left: 50.7%;
}

.cruz160 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 43.0%;
  left: 51.7%;
}

/* Torácica T10 lado Izquierdo */
.cruz161 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 46.0%; 
  left: 41.5%;
}

.cruz162 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 46.0%;
  left: 40.5%;
}

.cruz163 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 46.0%;
  left: 39.5%;
}

.cruz164 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 46.0%;
  left: 38.8%;
}

/* Torácica T10 lado Derecho */
.cruz165 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 46.0%;
  left: 48.7%;
}

.cruz166 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 46.0%;
  left: 49.7%;
}

.cruz167 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 46.0%;
  left: 50.7%;
}

.cruz168 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 46.0%;
  left: 51.7%;
}

/* Torácica T11 lado Izquierdo */
.cruz169 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 49.0%;
  left: 41.5%;
}

.cruz170 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 49.0%;
  left: 40.5%;
}

.cruz171 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 49.0%;
  left: 39.5%;
}

.cruz172 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 49.0%;
  left: 38.8%;
}

/* Torácica T11 lado Derecho */
.cruz173 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 49.0%;
  left: 48.7%;
}

.cruz174 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 49.0%;
  left: 49.7%;
}

.cruz175 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 49.0%;
  left: 50.7%;
}

.cruz176 {
  z-Index: 3;
  position: absolute;
  width: 100px;
  height: 25px;
  top: 49.0%;
  left: 51.7%;
}

