.imagen1{
  z-index: 2;
  position: absolute;
  width: 600px;
  height: 750px;
  top: 20%;
  left: 21.25%
}

input[type="checkbox"] {
  width: 10px;  /* Ajusta el ancho */
  height: 10px; /* Ajusta la altura */
  transform: scale(1.5); /* Escala el checkbox para hacerlo más grande */
  margin: 2.7px;  /* Añade margen para separar los elementos */
  vertical-align: middle; /* Alinea el checkbox verticalmente al medio */
}

.checkbox-container {
  display: flex; /* Utiliza flex para alinear los elementos */
  justify-content: space-around; /* Espacio entre los checkboxes */
  align-items: center; /* Alinea verticalmente en el centro */
}



/* Cruz 1 a 4 izquierdo */
.cruz1 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 4.5%; left: 41.3%; }
.cruz2 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 4.5%; left: 40.5%; }
.cruz3 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 4.5%; left: 39.7%; }
.cruz4 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 4.5%; left: 39%;   }

/* Cruz 5 a 8 derecho*/
.cruz5 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 4.5%; right: 41.3%; }
.cruz6 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 4.5%; right: 40.5%; }
.cruz7 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 4.5%; right: 39.7%; }
.cruz8 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 4.5%; right: 39%;   }

/* Cruz 9 a 12 izquierdo*/
.cruz9 {  z-index: 3; position: absolute; width: 80px; height: 20px; top: 6.3%; left: 41.3%; }
.cruz10 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 6.3%; left: 40.5%; }
.cruz11 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 6.3%; left: 39.7%; }
.cruz12 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 6.3%; left: 39%;   }

/* Cruz 13 a 16 derecho*/
.cruz13 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 6.3%; right: 41.3%; }
.cruz14 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 6.3%; right: 40.5%; }
.cruz15 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 6.3%; right: 39.7%; }
.cruz16 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 6.3%; right: 39%;   }

/* Cruz 17 a 20 izquierdo*/
.cruz17 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 8%; left: 41.3%; }
.cruz18 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 8%; left: 40.5%; }
.cruz19 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 8%; left: 39.7%; }
.cruz20 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 8%; left: 39%;   }

/* Cruz 21 a 24 derecho*/
.cruz21 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 8%; right: 41.3%; }
.cruz22 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 8%; right: 40.5%; }
.cruz23 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 8%; right: 39.7%; }
.cruz24 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 8%; right: 39%;   }

/* Cruz 25 a 28 izquierdo*/
.cruz25 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 9.8%; left: 41.3%; }
.cruz26 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 9.8%; left: 40.5%; }
.cruz27 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 9.8%; left: 39.7%; }
.cruz28 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 9.8%; left: 39%;   }

/* Cruz 29 a 32 derecho*/
.cruz29 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 9.8%; right:41.3%; }
.cruz30 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 9.8%; right:40.5%; }
.cruz31 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 9.8%; right:39.7%; }
.cruz32 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 9.8%; right:39%;   }

/* Cruz 33 a 36 izquierdo */ 
.cruz33 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 12.2%; left: 41.3%; }
.cruz34 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 12.2%; left: 40.5%; }
.cruz35 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 12.2%; left: 39.7%; }
.cruz36 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 12.2%; left: 39%;   }

/* Cruz 37 a 40 derecho*/
.cruz37 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 12.2%; right: 41.3%; }
.cruz38 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 12.2%; right: 40.5%; }
.cruz39 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 12.2%; right: 39.7%; }
.cruz40 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 12.2%; right: 39%;   }

/* Cruz 41 a 44 izquierdo*/
.cruz41 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 14.5%; left: 41.3%; }
.cruz42 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 14.5%; left: 40.5%; }
.cruz43 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 14.5%; left: 39.7%; }
.cruz44 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 14.5%; left: 39%;   }

/* Cruz 45 a 48 derecho*/
.cruz45 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 14.5%; right: 41.3%; }
.cruz46 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 14.5%; right: 40.5%; }
.cruz47 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 14.5%; right: 39.7%; }
.cruz48 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 14.5%; right: 39%;   }

/* Lumbar L1 lado Izquierdo */
.cruz97 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 47.8%;left: 41%;    }
.cruz98 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 47.8%;left: 40.2%;  }
.cruz99 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 47.8%;left: 39.4%;  }
.cruz100 { z-index: 3; position: absolute; width: 80px; height: 20px; top:47.8%; left:38.6%;  }

/* Lumbar L1 lado derecho */
.cruz101 { z-index: 3; position: absolute; width: 80px; height: 20px; top:  47.8%; right: 41%;   }
.cruz102 { z-index: 3; position: absolute; width: 80px; height: 20px; top:  47.8%; right: 40.2%; }
.cruz103 { z-index: 3; position: absolute; width: 80px; height: 20px; top:  47.8%; right: 39.4%; }
.cruz104 { z-index: 3; position: absolute; width: 80px; height: 20px; top:  47.8%; right: 38.6%; }
/* Lumbar L2 lado Izquierdo */
.cruz49 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 51%; left: 41%;   }
.cruz50 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 51%; left: 40.2%; }
.cruz51 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 51%; left: 39.4%; }
.cruz52 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 51%; left: 38.6%; }

/* Lumbar L2 lado Derecho */
.cruz53 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 51%; right: 41%;   }
.cruz54 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 51%; right: 40.2%; }
.cruz55 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 51%; right: 39.4%; }
.cruz56 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 51%; right: 38.6%; }

/* Lumbar L3 lado Izquierdo */
.cruz57 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 54.5%; left: 41%;   }
.cruz58 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 54.5%; left: 40.2%; }
.cruz59 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 54.5%; left: 39.4%; }
.cruz60 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 54.5%; left: 38.6%; }

/* Lumbar L3 lado Derecho */
.cruz61 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 54.5%; right: 41%;   }
.cruz62 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 54.5%; right: 40.2%; }
.cruz63 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 54.5%; right: 39.4%; }
.cruz64 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 54.5%; right: 38.6%; }

/* Lumbar L4 lado Izquierdo */
.cruz65 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 57.8%; left: 41%;   }
.cruz66 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 57.8%; left: 40.2%; }
.cruz67 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 57.8%; left: 39.4%; }
.cruz68 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 57.8%; left: 38.6%; }

/* Lumbar L4 lado Derecho */
.cruz69 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 57.8%; right: 41%;   }
.cruz70 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 57.8%; right: 40.2%; }
.cruz71 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 57.8%; right: 39.4%; }
.cruz72 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 57.8%; right: 38.6%; }

/* Lumbar L5 lado Izquierdo */
.cruz73 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 61%; left: 41%;   }
.cruz74 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 61%; left: 40.2%; }
.cruz75 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 61%; left: 39.4%; }
.cruz76 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 61%; left: 38.6%; }

/* Lumbar L5 lado Derecho */
.cruz77 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 61%; right: 41%;   }
.cruz78 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 61%; right: 40.2%; }
.cruz79 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 61%; right: 39.4%; }
.cruz80 { z-index: 3; position: absolute; width: 80px; height: 20px; top: 61%; right: 38.6%; }

/* Torácica S1 lado Izquierdo */
.cruz81 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 64.9%; left: 41%;   }
.cruz82 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 64.9%; left: 40.2%; }
.cruz83 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 64.9%; left: 39.4%; }
.cruz84 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 64.9%; left: 38.6%; }
/* Torácica S1 lado Derecho */
.cruz85 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 64.9%; right: 41%;   }
.cruz86 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 64.9%; right: 40.2%; }
.cruz87 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 64.9%; right: 39.4%; }
.cruz88 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 64.9%; right: 38.6%; }

/* Torácica S2 lado Izquierdo */
.cruz89 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 68%; left: 41.5%; }
.cruz90 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 68%; left: 40.5%; }
.cruz91 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 68%; left: 39.5%; }
.cruz92 {z-index: 3; position: absolute; width: 80px; height: 20px; top: 68%; left: 38.8%; }
/* Torácica S2 lado Derecho */
.cruz93 { z-index: 3; position: absolute; width: 80px; height: 20px;top: 68%; right: 41%;   }
.cruz94 { z-index: 3; position: absolute; width: 80px; height: 20px;top: 68%; right: 40.2%; }
.cruz95 { z-index: 3; position: absolute; width: 80px; height: 20px;top: 68%; right: 39.4%; }
.cruz96 { z-index: 3; position: absolute; width: 80px; height: 20px;top: 68%; right: 38.6%; }









